<!DOCTYPE html>
<html lang="en">
  <head>
    <div include-html-snippet="includes/head.html"></div>
    <!-- <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap"
      rel="stylesheet"
    /> -->
    <script src="../app.js" defer></script>
  </head>
  <body>
    <header>
      <div include-html-snippet="includes/navbar.html"></div>
    </header>

    <div class="content">
      <div class="quiz">
        <div class="card">
          <div class="card-header">Video Game Quiz</div>
          <div class="card-body">
            <p class="card-text">Click below to start the quiz!</p>
            <a href="quiz.html" class="btn btn-primary">Take Quiz</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
