<!DOCTYPE html>
<html lang="en">
  <head>
    <div include-html-snippet="includes/head.html"></div>
    <!-- <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap"
      rel="stylesheet"
    /> -->
    <script src="../app.js" defer></script>
    <script src="../scripts/quiz.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div include-html-snippet="includes/navbar.html"></div>
    </header>

    <div class="content">
      <div class="quiz">
        <div class="card">
          <div class="card-header">Video Game Quiz</div>
          <div class="card-body">
            <h3>1.</h3>
            <p>What choice is the correct answer?</p>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="option"
                id="A Box"
                value="option1"
                onchange="disableRadios(this)"
              />
              <label class="form-check-label" for="A Box">A</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="option"
                id="B Box"
                value="option2"
                onchange="disableRadios(this)"
              />
              <label class="form-check-label" for="B Box">B</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="option"
                id="C Box"
                value="option3"
                onchange="disableRadios(this)"
              />
              <label class="form-check-label" for="C Box">C</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="option"
                id="D Box"
                value="option4"
                onchange="disableRadios(this)"
              />
              <label class="form-check-label" for="D Box">D</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
